.col,
[class*="col-"] {
    border: 1px solid red;
    min-height: 500px;
}

.navbar {

    width: 100%;


}

.small-col {
    min-height: 80px;
}

body {}

main {
    height: 92vh;
}

.content {
    overflow: auto;
}


.sidebar {
    border: 1px solid red;
    overflow: auto;
    position: fixed;
}

.aside {
    width: 100px;
    background-color: black;
    height: 100vh;
    display: none;
    flex-shrink: 0;
}

.aside-small {
    width: 50px;
    background-color: black;
    height: 680px;
    flex-shrink: 0;
}

aside {
    position: sticky;
}

.card {
    min-height: 300px;
}







@media screen and (min-width:992px) {

    .aside-small {
        display: none;
    }

    .aside {
        display: block;
    }

}