.navbar {
    width: 100%;
}

body {
    height: 100vh;
    overflow: hidden;
}

.mobile-logo {
    height: 40px;
}

main {
    height: calc(100vh - 70px);
}

.content {
    overflow: auto;
    flex-grow: 1;
}

.sidebar {
    min-height: 100%;
    overflow: hidden;
    background-image: url(img/sidebar-bg.png);
    background-color: #061E34;
}

.badge-header span {
    background-color: #165BBA;
}

.my-table-col {
    width: 60%;
    text-align: start;
}

.table {
    font-size: 0.6rem;
}

.my-btn {
    --bs-btn-padding-x: 0.50rem;
    --bs-btn-padding-y: 0.15rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 0.8rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    margin: 0 0.1rem;


}

.small-avatar {
    height: 20px;
    margin-right: 3px;
}

.stats-card p {
    font-size: 0.8rem;
}

.my-nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: white;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s
}

.my-nav-link:hover {
    background-color: lightgray;
    display: inline-block;
}

td:hover {
    background-color: lightgrey;
}



.offcanvas {
    --bs-offcanvas-width: 600px;
}